@using Microsoft.AspNetCore.Http;
@using TMS_Web.Utils;
@using Newtonsoft.Json;
@inject IHttpContextAccessor hca;
@{
    UserModel actualUser = hca.HttpContext.Session.getObjectFromJson<UserModel>("actualUser");
}
<link href="~/css/operations.css" rel="stylesheet" type="text/css" />

<!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />-->
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="../assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
<div class="portlet-body">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1_1" data-toggle="tab" aria-expanded="false">En curso</a>
        </li>
        <li class="">
            <a href="#tab_1_2" data-toggle="tab" aria-expanded="true">Historial</a>
        </li>
        @if (actualUser.typeAccess == 1)
        {
            <li class="">
                <a href="#tab_1_3" data-toggle="tab" aria-expanded="true">Todo</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div class="portlet light portlet-fit tab-pane fade active in" id="tab_1_1">
            <div class="portlet-body" style="padding:2px">
                <div class="mt-element-list">
                    <div class="mt-list-container list-default" style="padding:5px">
                        <ul style="margin:0%;padding:0%;">
                            @{
                                if (ViewBag.runningOperations.Count == 0)
                                {
                                    <li class="mt-list-item" style="margin:0;padding:2% 0;display:flex;">
                                        <img src="~/images/operation-running-icon.png" width="40px" height="40px" style="margin:0 2%;" />
                                        <div class="list-item-content" style="padding:0;float:left;margin:auto 0 0 0;">
                                            <h3 class="uppercase bold">
                                                Sin Operaciones
                                            </h3>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    foreach (ProjectModel project in ViewBag.runningOperations)
                                    {
                                        string idProject = "project" + project.id;
                                        string idProjectRef = "#" + idProject;
                                        <li class="mt-list-item">
                                            <div class="operationTitle">
                                                <img src="~/images/operation-running-icon.png" width="40px" height="40px" style="margin:0 2%;" />
                                                <div class="list-item-content">
                                                    <h4>
                                                        <a data-toggle="collapse" href=@idProjectRef><b>@project.name</b></a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="collapse stagesDiv" id=@idProject>
                                                <div class="card card-body">
                                                    <ul>
                                                        @foreach (StageModel stage in project.stages)
                                                        {
                                                            string idStage = "stage" + stage.id;
                                                            string idStageRef = "#" + idStage;
                                                            <li>
                                                                <a data-toggle="collapse" href=@idStageRef>
                                                                    @stage.name
                                                                </a>
                                                            </li>
                                                            <div class="collapse" id=@idStage>
                                                                <div class="card card-body">
                                                                    <ul>
                                                                        @foreach (TaskModel task in stage.tasks)
                                                                        {
                                                                            string idTask = "task" + task.id;
                                                                            string idTaskRef = "#" + idTask;
                                                                            string state = task.kanbanState == "done" ? "check" : "no-check";
                                                                            <div class="taskDiv @state">
                                                                                @if (task.canUpload)
                                                                                {
                                                                                    <div class="options">
                                                                                        @{
                                                                                            string x = "", nuevoId = "", fileDownload = "";
                                                                                            string[] projectNameSplit = project.name.Replace(" ", "").Split("-");

                                                                                            nuevoId =
                                                                                                projectNameSplit[0] + "_" + projectNameSplit[1] + "*" +
                                                                                                task.name.Replace(" ", "") +
                                                                                                "#" +
                                                                                                task.id + "_" +
                                                                                                stage.id + "_" +
                                                                                                project.id
                                                                                                ;

                                                                                            string[] datos = nuevoId.Split("#");
                                                                                            string[] names = datos[0].Split("*");

                                                                                            string[] ids = datos[1].Split("_");
                                                                                            int projectId = Convert.ToInt32(ids[2]);
                                                                                            int stageId = Convert.ToInt32(ids[1]);
                                                                                            int taskId = Convert.ToInt32(ids[0]);

                                                                                            fileDownload = $"{names[0]}-{names[1]}({projectId}{taskId}).{task.format}";
                                                                                        }
                                                                                        @if (!task.uploaded)
                                                                                        {
                                                                                            <div title="Subir documento" id=@nuevoId class="opt divUpload" data-toggle="modal" href="#basic"></div>
                                                                                            <!--<input type="file" name="document" id="fileupload" class="inputFile" title="Subir Documento" />-->
                                                                                            <div class="divView opt" style="opacity:0.2;" title="Ver documento" data-toggle="modal" href="#noView"></div>
                                                                                            <a title="Descargar documento" style="opacity:0.2;" class="opt divDownload" data-toggle="modal" href="#noFile">
                                                                                                <div title="Descargar Documento"></div>
                                                                                            </a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div title="Subir documento" id=@nuevoId class="divUpload opt" style="opacity:0.2;" data-toggle="modal" href="#noUpload"></div>
                                                                                            <!--<input type="file" name="document" id="fileupload" class="inputFile" title="Subir Documento" />-->
                                                                                            <div class="divView opt" title="Ver documento" data-toggle="modal" href="#myModal" id=@fileDownload></div>
                                                                                            <a title="Descargar documento" class="divDownload opt" href="https://deltacargostorage.blob.core.windows.net/pdf/@fileDownload">
                                                                                                <div class="" title="Descargar Documento"></div>
                                                                                            </a>
                                                                                        }
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="hiddenOptions">
                                                                                    </div>
                                                                                }
                                                                                <div class="img"></div>
                                                                                <li class="txt">
                                                                                    @task.name
                                                                                </li>
                                                                            </div>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light portlet-fit tab-pane fade in" id="tab_1_2">
            <div class="portlet-body" style="padding:2px">
                <div class="mt-element-list">
                    <div class="mt-list-container list-default" style="padding:5px">
                        <ul style="margin:0%;padding:0%;">
                            @{
                                if (ViewBag.historyOperations.Count == 0)
                                {
                                    <li class="mt-list-item" style="margin:0;padding:2% 0;display:flex;">
                                        <img src="~/images/operation-history-icon.png" width="40px" height="40px" style="margin:0 2%;" />
                                        <div class="list-item-content" style="padding:0;float:left;margin:auto 0 0 0;">
                                            <h3 class="uppercase bold">
                                                Sin historial de Operaciones
                                            </h3>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    @foreach (ProjectModel item in ViewBag.historyOperations)
                                    {
                                        <li class="mt-list-item" style="margin:0;padding:2% 0;display:flex;">
                                            <img src="~/images/operation-history-icon.png" width="40px" height="40px" style="margin:0 2%;" />
                                            <div class="list-item-content" style="padding:0;float:left;margin:auto 0 0 0;">
                                                <h3 class="uppercase bold">
                                                    <a href="/TimeLine/@item.name">@item.name</a>
                                                </h3>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light portlet-fit tab-pane fade in" id="tab_1_3">
            <div class="portlet-body" style="padding:2px">
                <div class="mt-element-list">
                    <div class="mt-list-container list-default" style="padding:5px">
                        <ul style="margin:0%;padding:0%;">
                            @{
                                if (ViewBag.runningOperations.Count == 0)
                                {
                                    <li class="mt-list-item" style="margin:0;padding:2% 0;display:flex;">
                                        <img src="~/images/operation-running-icon.png" width="40px" height="40px" style="margin:0 2%;" />
                                        <div class="list-item-content" style="padding:0;float:left;margin:auto 0 0 0;">
                                            <h3 class="uppercase bold">
                                                Sin Operaciones
                                            </h3>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    foreach (ProjectModel project in ViewBag.allOperations)
                                    {
                                        string idProject = "nproject" + project.id;
                                        string idProjectRef = "#" + idProject;
                                        <li class="mt-list-item">
                                            <div class="operationTitle">
                                                <img src="~/images/operation-running-icon.png" width="40px" height="40px" style="margin:0 2%;" />
                                                <div class="list-item-content">
                                                    <h4>
                                                        <a data-toggle="collapse" href=@idProjectRef><b>@project.name</b></a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="collapse stagesDiv" id=@idProject>
                                                <div class="card card-body">
                                                    <ul>
                                                        @foreach (StageModel stage in project.stages)
                                                        {
                                                            string idStage = "stage" + stage.id + idProject;
                                                            string idStageRef = "#" + idStage;
                                                            <li>
                                                                <a data-toggle="collapse" href=@idStageRef>
                                                                    @stage.name
                                                                </a>
                                                            </li>
                                                            <div class="collapse" id=@idStage>
                                                                <div class="card card-body">
                                                                    <ul>
                                                                        @foreach (TaskModel task in stage.tasks)
                                                                        {
                                                                            string idTask = "task" + task.id + idStage;
                                                                            string idTaskRef = "#" + idTask;
                                                                            string state = task.kanbanState == "done" ? "check" : "no-check";
                                                                            <div class="taskDiv @state">
                                                                                @if (task.canUpload)
                                                                                {
                                                                                    <div class="options">
                                                                                        @{
                                                                                            string x = "", nuevoId = "", fileDownload = "";
                                                                                            string[] projectNameSplit = project.name.Replace(" ", "").Split("-");

                                                                                            nuevoId =
                                                                                                projectNameSplit[0] + "_" + projectNameSplit[1] + "*" +
                                                                                                task.name.Replace(" ", "") +
                                                                                                "#" +
                                                                                                task.id + "_" +
                                                                                                stage.id + "_" +
                                                                                                project.id
                                                                                                ;

                                                                                            string[] datos = nuevoId.Split("#");
                                                                                            string[] names = datos[0].Split("*");

                                                                                            string[] ids = datos[1].Split("_");
                                                                                            int projectId = Convert.ToInt32(ids[2]);
                                                                                            int stageId = Convert.ToInt32(ids[1]);
                                                                                            int taskId = Convert.ToInt32(ids[0]);

                                                                                            fileDownload = $"{names[0]}-{names[1]}({projectId}{taskId}).{task.format}";
                                                                                        }
                                                                                        @if (!task.uploaded)
                                                                                        {
                                                                                            <div title="Subir documento" id=@nuevoId class="opt divUpload" data-toggle="modal" href="#basic"></div>
                                                                                            <!--<input type="file" name="document" id="fileupload" class="inputFile" title="Subir Documento" />-->
                                                                                            <div class="divView opt" style="opacity:0.2;" title="Ver documento" data-toggle="modal" href="#noView"></div>
                                                                                            <a title="Descargar documento" style="opacity:0.2;" class="opt divDownload" data-toggle="modal" href="#noFile">
                                                                                                <div title="Descargar Documento"></div>
                                                                                            </a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div title="Subir documento" id=@nuevoId class="divUpload opt" style="opacity:0.2;" data-toggle="modal" href="#noUpload"></div>
                                                                                            <!--<input type="file" name="document" id="fileupload" class="inputFile" title="Subir Documento" />-->
                                                                                            <div class="divView opt" title="Ver documento" data-toggle="modal" href="#myModal" id=@fileDownload></div>
                                                                                            <a title="Descargar documento" class="divDownload opt" href="https://deltacargostorage.blob.core.windows.net/pdf/@fileDownload">
                                                                                                <div class="" title="Descargar Documento"></div>
                                                                                            </a>
                                                                                        }
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="hiddenOptions">
                                                                                    </div>
                                                                                }
                                                                                <div class="img"></div>
                                                                                <li class="txt">
                                                                                    @task.name
                                                                                </li>
                                                                            </div>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/css/operationsStyles.css" rel="stylesheet" type="text/css" />
<link href="~/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
<!------------------------------------------------------------------------------------------------------->
<div class="modal fade" id="basic" tabindex="-1" role="full" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Seleccionar archivo</h4>
            </div>
            <form enctype="multipart/form-data" asp-controller="Operation" asp-action="UploadFile" method="post">
                <input type="hidden" hidden name="fileIds" value="1_1_1" />
                <div class="modal-body">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="input-group input-large">
                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                <span class="fileinput-filename"> </span>
                            </div>
                            <span class="input-group-addon btn default btn-file">
                                <span class="fileinput-new">Examinar...</span>
                                <span class="fileinput-exists">Cambiar</span>
                                <input type="file" name="file">
                            </span>
                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btnDelta">Subir archivo</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="noFile" tabindex="-1" role="full" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Nada para descargar
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="noView" tabindex="-1" role="full" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Nada para ver
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="noUpload" tabindex="-1" role="full" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Usted ya ha subido un archivo, para subir nuevamente un archivo debe eliminar el existente.
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="height:90%">
        <div class="modal-content" style="height:100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Visor </h4>
            </div>
            <div class="modal-body" style="height:80%">
                <!--<iframe src="https://docs.google.com/gview?url=https://uploadedfiles.blob.core.windows.net/pdf/Per%C3%BA_DespachoAnticipado-SolicitarCRT(327).pdf&embedded=true"
                        style="width: 100%; height:  500px;color:black;"
                        frameborder="0" />-->
                <iframe id="toView" src="https://docs.google.com/gview?url=https://uploadedfiles.blob.core.windows.net/pdf/Per%C3%BA_DespachoAnticipado-SolicitarCRT(327).pdf&embedded=true"
                        style="width: 100%; height:100%;"
                        frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@switch (ViewBag.response)
{
    case 0:
        <script>
            alert("Nada para subir!");
        </script>
        break;
    case 1:
        <script>
            alert("Subido correctamente");
        </script>
        break;
    case 2:
        <script>
            alert("Error al subir archivo");
        </script>
        break;
    case 3:
        <script>
            alert("Archivo demasiado grande");
        </script>
        break;
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="~/js/operations.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!--https://docs.google.com/gview?url=https://deltacargostorage.blob.core.windows.net/pdf/-->
<!--&embedded=true-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="~/js/operations.js" type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        console.log("OK");
        $(".divUpload").click(function () {
            $("input[name=fileIds]").val($(this).context.id);
            //console.log($(this).context.id);
        });
        $(".divView").click(function () {
            console.log($(this).attr("id"));
            $("#toView").attr("src", "https://docs.google.com/gview?url=https://deltacargostorage.blob.core.windows.net/pdf/" + $(this).attr("id") + "&embedded=true");
            /*console.log(
                "https://docs.google.com/gview?url=https://deltacargostorage.blob.core.windows.net/pdf/" +
                $(this).attr("id") +
                "&embedded=true"
            );*/
        });
    });
</script>